<!DOCTYPE html>

<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="/css/style.css" /> -->
<title>Lista de Alunos</title>
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="panel panel-default" style="margin: 10px">
			<div class="panel-heading">
				<h1 class="panel-title">Lista de Alunos</h1>
			</div>
		</div>
		<div class="panel-body">
			<form class="form-inline" method="POST" style="margin: 20px 0"
				th:object="${aluno}" th:action="@{/alunos}">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Nome"
						th:field="*{nome}" /> <input type="text" class="form-control"
						placeholder="Matricula" th:field="*{matricula}" />

					<button type="submit" class="btn btn-primary">Adicionar</button>
				</div>
			</form>
			<table class="table">
				<thead>
					<tr>
						<th>Matrícula</th>
						<th>Nome</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="aluno : ${alunos}">
						<td width="30%" th:text="${aluno.matricula}"></td>
						<td th:text="${aluno.nome}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</body>
</html>