<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<!-- 		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/> -->
<!-- 		<link rel="stylesheet" type="text/css" href="/css/style.css"/> -->

<script th:src="@{/layout/javascripts/jquery.min.js}"></script>
<title>Cadastro de Alunos em Apresentação</title>
</head>
<body>
	<section layout:fragment="conteudo">
		<div>
			<form class="form-horizontal" method="POST" style="margin: 20px 0"
				th:object="${apresentacaoaluno}" th:action="@{/apresentacaoalunos}">
				<div class="alert alert-danger"
					th:if="${!#strings.isEmpty(mensagem)}">
					<table>
						<tbody>
							<tr th:each="m : ${mensagem}">
								<td th:text="${m}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="alert alert-success"
					th:if="${!#strings.isEmpty(mensagem_sucesso)}">
					<table>
						<tbody>
							<tr th:each="m : ${mensagem_sucesso}">
								<td th:text="${m}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="panel panel-default">
					<!-- 				<div class="form-group"> -->
					<div class="panel-heading">
						<div class="clearfix">
							<h1 class="panel-title aw-titulo-panel">Cadastro de Alunos
								para Apresentação</h1>
							<a class="btn btn-link aw-link-panel" href="/apresentacaos">Voltar
								para pesquisa</a>
						</div>
					</div>
					<div class="form-group">
						<label for="Peso" class="col-sm-1 control-label">Apresentação:</label>
						<div class="col-sm-2">
							<input type="text" th:field="*{id_apresentacao}" />

						</div>
					</div>
					<div class="form-group">
						<label for="Peso" class="col-sm-1 control-label">Turmas</label>
						<div class="col-sm-4">
							<select th:field="*{id_turma}" id="selectTurma">
								<option value="0">Selecione uma Turma</option>
								<option th:each="i : ${turmas}" th:value="${i.id}"
									th:text="${i.codigo +' - '+ i.nome_disciplina}"></option>
							</select>
							<script>
								$('#selectTurma')
										.change(
												function() {
													$("#selectAluno option")
															.remove();
													$
															.getJSON(
																	"/apresentacaoalunos?id_turma="+$( "#selectTurma option:selected" ).val(),
																	function(
																			response) {
																		var options = '';
																		$
																				.each(
																						response,
																						function(
																								index,
																								item) {
																							options += '<option value="' + item.id_aluno + '">'
																									+ item.matricula_aluno
																									+ ' - '
																									+ item.nome_aluno
																									+ '</option>';
																							$(
																									"#selectAluno")
																									.html(
																											options);
																						});
																	});

												});
							</script>
						</div>
					</div>
					<div class="form-group">
						<label for="Peso" class="col-sm-1 control-label">Alunos</label>
						<div class="col-sm-4">
							<select th:field="*{id_aluno}" id="selectAluno">
								<option value="0">Selecione um Aluno</option>

							</select> <a class="btn btn-link aw-link-panel" href="/alunos/novo">
								Cadastrar Aluno</a>
						</div>
					</div>
					<input type="hidden" th:field="*{id}" />
					<button type="submit" class="btn btn-primary">Adicionar</button>
				</div>
			</form>
		</div>

		<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center" width="20%">Matricula</th>
						<th class="text-center" width="50%">Nome</th>
						<th class="text-center" width="20%">Turma</th>
						<th class="col-md-1 text-center" width="10%">Excluir</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="apresentacaoaluno : ${apalunos}">
						<td width="20%" th:text="${apresentacaoaluno.matricula_aluno}"
							class="text-center"></td>
						<td width="50%" th:text="${apresentacaoaluno.nome_aluno}"
							class="text-center"></td>
						<td width="20%" th:text="${apresentacaoaluno.codigo_turma}"
							class="text-center"></td>
						<td width="10%" class="text-center"><a
							class="btn btn-link btn-xs"
							onclick="return confirm('Tem certeza que deseja excluir?')"
							th:href="@{/apresentacaoalunos/(id=${apresentacaoaluno.id}, id_apresentacao=${apresentacaoaluno.id_apresentacao}, action='delete')}">
								<span class="glyphicon glyphicon-remove"></span>
						</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</body>
</html>