<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}">


<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<!-- 		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/> -->
<!-- 		<link rel="stylesheet" type="text/css" href="/css/style.css"/> -->
<title>Lista de Temas</title>
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title">Listar de Temas</h1>
					<a class="btn btn-link aw-link-panel" href="/temas/novo">Novo
						Tema</a>
				</div>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center">id</th>
							<th class="text-center">Nome</th>
							<th class="col-md-1 text-center">Editar</th>
							<th class="col-md-1 text-center">Excluir</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="tema : ${temas}">
							<td class="text-center" th:text="${tema.id}"></td>
							<td th:text="${tema.nome}"></td>
							<td class="text-center"><a class="btn btn-link btn-xs"
								th:href="@{/temas/{id}(id=${tema.id})}"> <span
									class="glyphicon glyphicon-pencil"></span>
							</a></td>
							<td class="text-center"><a class="btn btn-link btn-xs"
								onclick="return confirm('Tem certeza que deseja excluir?')"
								th:href="@{/temas/(id=${tema.id}, action='delete')}"> <span
									class="glyphicon glyphicon-remove"></span>
							</a></td>
						</tr>
					</tbody>
				</table>
			</div>
	</section>
</body>

</html>